.cuerpo{
    background-color: rgb(34, 60, 110);
    font-family:'Segoe UI';
}
h1{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
h2{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: rgb(206, 174, 125);
    position: sticky;
    top: 0;
    z-index: 100;
    font-weight: bold;
}
.logo{
    font-size: 20px;
    color: black;
    background-color: rgb(206, 174, 125);
}
.logo span{
    color:  rgb(185, 103, 53);
}
.logo a{
    background-color: rgb(206, 174, 125); 
    color: rgb(185, 103, 53);
}
button{
    background-color: rgb(34, 60, 110);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 20%;
    border: salmon;
    height: 30px;
}
button:hover{
    background-color: rgb(45, 77, 136);
    height: 32px;
}
header{
    background-image: url('../iconos/fondo-inicio.png'); 
    background-size: cover;       /* Hace que la imagen cubra toda la pantalla */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat; 
    padding: 40px 20px;
    width: auto;
    margin: 20px auto;
    box-sizing: border-box;
    height: auto;
}
.box-conteiner{
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 15px;
}
.cajaServicio{
    background-color: white;
    padding: 40px 20px;
    width: 75%;
    margin: 20px auto;
    box-sizing: border-box;
    height: 350px auto;
    border-radius: 20px;
}
.tareas{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 40px;
    margin: 30px 0 30px auto;
}
.tareas img {
    max-width: 300px;
    flex-shrink: 0; 
}
.tareas p, li{
    color: white;
}
    
.planificador-texto ul,li{
    flex: 1;
    color: black;
}
.tareas h2{
    text-align: left; 
    font-size: 40px;
}
.contenedor-bloques {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 40px 0;
}
.servicios{
    background-color: white"
} 
.bloque {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    flex: 1;
    text-align: center;
    border: 2px solid black;
}
footer{
    background-color: black;
    display: flex;
    color: white;

}
.icono-footer img{
    display: inline;
}
.icono-footer img{
    width: 30px;
    margin-left: auto;
    margin-right: auto;
}
.reloj{
    background-color: #FCE096;
    color: black;
}
.reloj h2{
    text-align: left; 
    font-size: 40px; 
}
.planificador{
    color: black;
}