<!-- area  -->

<div
    class="fixed top-0 left-0 w-full h-full z-[1] overflow-hidden pointer-events-none bg-[-webkit-linear-gradient(to_left,#8f94fb,#4e54c8)]">
    <!-- circles  -->
    <ul class="absolute top-0 left-0 w-full h-full overflow-hidden">
        <li
            class="absolute block list-none w-[80px] h-[80px] bg-white/20 animate-[animate_25s_linear_infinite] bottom-[-150px] left-[25%] animate-delay-[0s]">
        </li>
        <li
            class="absolute block list-none w-[20px] h-[20px] bg-white/20 animate-[animate_12s_linear_infinite] bottom-[-150px] left-[10%] animate-delay-[2s]">
        </li>
        <li
            class="absolute block list-none w-[95px] h-[95px] bg-white/20 animate-[animate_25s_linear_infinite] bottom-[-150px] left-[70%] animate-delay-[4s]">
        </li>
        <li
            class="absolute block list-none w-[60px] h-[60px] bg-white/20 bottom-[-150px] left-[40%] animate-[animate_18s_linear_infinite] animate-delay-[0s]">
        </li>
        <li
            class="absolute block list-none w-[20px] h-[20px] bg-white/20 bottom-[-150px] left-[65%] animate-[animate_25s_linear_infinite] animate-delay-[0s]">
        </li>
        <li
            class="absolute block list-none w-[110px] h-[110px] bg-white/20 bottom-[-150px] left-[75%] animate-[animate_25s_linear_infinite] animate-delay-[3s]">
        </li>
        <li
            class="absolute block list-none w-[150px] h-[150px] bg-white/20 bottom-[-150px] left-[35%] animate-[animate_25s_linear_infinite] animate-delay-[7s]">
        </li>
        <li
            class="absolute block list-none w-[25px] h-[25px] bg-white/20 bottom-[-150px] left-[50%] animate-[animate_45s_linear_infinite] animate-delay-[15s]">
        </li>
        <li
            class="absolute block list-none w-[40px] h-[15px] bg-white/20 bottom-[-150px] left-[20%] animate-[animate_35s_linear_infinite] animate-delay-[2s]">
        </li>
        <li
            class="absolute block list-none w-[150px] h-[150px] bg-white/20 bottom-[-150px] left-[85%] animate-[animate_11s_linear_infinite] animate-delay-[0s]">
        </li>
    </ul>
</div>