<footer>
    <div class="contacto">
      <h4>Reporte de errores:</h4>
      <p>Correo: <a href="mailto:CCA@gmail.com">CCA@gmail.com</a></p>
      <p>Teléfono: 9999999999</p>
    </div>
    <div class="redes">
      <p>FixTime forma parte de las aplicaciones de CCA</p>
      <div class="iconos">
        <img src="iconos/facebook.png" alt="Facebook" />
        <img src="iconos/reddit.png" alt="Reddit" />
        <img src="iconos/whatsapp.png" alt="WhatsApp" />
      </div>
    </div>
    <button class="extra">Más herramientas</button>
</footer>