<nav class="menu bg-[#0e1a2a] fixed w-full top-0 left-0 py-4 px-6 md:px-[40px] z-[500] shadow-md">
    <div class="logo-elementos flex justify-between items-center w-full">
        <a class="logo text-[28px] font-bold text-white flex items-center" href="index.html">
            <img src="../iconos/reloj.png" alt="Icono reloj" class="h-[30px] mr-2" />
            Fix<span class="text-[#f4c542]">Time</span>
        </a>

        <button
            class="abrir md:hidden text-white text-3xl bg-transparent p-0 min-w-0 border-none hover:bg-transparent hover:scale-100"
            id="btnMenu">
            ☰
        </button>
    </div>

    <div class="nav-links hidden md:flex gap-5 text-white font-medium">
        <a href="servicios.html" class="hover:text-[#f4c542]">Contrátanos</a>
        <a href="login.html" class="hover:text-[#f4c542]">Iniciar Sesión</a>
    </div>
</nav>